services:
  web:
    build: .
    container_name: photo-organizer-web
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:80"
    restart: always
    environment:
      - NODE_ENV=production