services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: dev-s2r-web
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:80"
    restart: always
    environment:
      - NODE_ENV=development
